.BaseComponent .tool-section {
  background: #ddd;
  padding: 0.8rem 1rem 1rem 1rem;
  margin-top: 1rem;
  border-radius: 3px;
}
.BaseComponent .BaseComponent-url {
  margin-bottom: 2rem;
}

.BaseComponent .theme-selector {
  margin: 3em auto;
}

.BaseComponent .theme-selector label {
  margin: auto 0.5rem;
}

.BaseComponent .theme-selector input {
  margin: 0.5rem;
}
